/* Styles go here */
.App {
    font-family: sans-serif;
    text-align: center;
  }
  
  @import url(https://fonts.googleapis.com/css?family=Advent + Pro:100);
  html {
    background: url(https://media2.giphy.com/media/3og0IQthEdn9VWzL8I/giphy.gif?cid=ecf05e47034be45ab029ac864aefa99d072078d6431740b4&rid=giphy.gif)
      no-repeat center center fixed;
    background-size: cover;
  }
  h1 {
    font-family: "Advent Pro", sans-serif;
    font-size: 3em;
    margin: 0.2em 0.5em;
  }
  body {
    height: 100%;
  }
  
  audio {
    filter: hotpink(100%);
    width: 200px;
    height: 25px;
    color: pink;
    background: pink;
  }
  .container2 {
    position: relative;
  }
  
  .topleft {
    position: absolute;
    top: 8px;
    left: 16px;
    font-size: 18px;
  }